services:
  nginx:
    env_file: ../docker/environments/${TARGETENV}.env
    ports: 
         - 4001:8500
         - 80:80
   #  volumes:
   #     - C:/Users/User/certificates/self-signed-custom-ca/nginx.key:/etc/nginx/ssl/nginx.key
   #     - C:/Users/User/certificates/self-signed-custom-ca/nginx.crt:/etc/nginx/ssl/nginx.crt
    volumes:
      - /etc/letsencrypt/live/${AZURE_VM_DOMAIN}:/etc/nginx/ssl/live/${AZURE_VM_DOMAIN}:ro 
      - /etc/letsencrypt/archive/${AZURE_VM_DOMAIN}:/etc/nginx/ssl/archive/${AZURE_VM_DOMAIN}:ro    
      # - /etc/letsencrypt/options-ssl-nginx.conf:/etc/nginx/options-ssl-nginx.conf:ro 
      # - /etc/letsencrypt/ssl-dhparams.pem:/etc/nginx/ssl-dhparams.pem:ro
    networks:
         - shared-swarm-net-prod

  express-gateway-service:
      env_file: ../docker/environments/${TARGETENV}.env
      # volumes:
      #   - C:/Users/User/certificates/self-signed-custom-ca/express.key:/var/lib/certs/express.key
      #   - C:/Users/User/certificates/self-signed-custom-ca/express.crt:/var/lib/certs/express.crt
      #   - C:/Users/User/certificates/self-signed-custom-ca/rootCA.crt:/var/lib/certs/rootCA.crt
      networks:
         - shared-swarm-net-prod
   
  # filebeat:
  #    networks:
  #        - shared-swarm-net-prod