services:
    nginx:
       image: ${DOCKERHUB_USER}/${APPNAME}-nginx:${TAG}
       env_file: environments/common.env
       environment:
         - stdoutPath=/var/log/${APPNAME}-nginx/combined.log
         - stderrPath=/var/log/${APPNAME}-nginx/error.log
         - AZURE_VM_DOMAIN=${AZURE_VM_DOMAIN} # exposed from github actions but must be declared here to access in conf file
       restart: always
       volumes:
         - nginx-logs-volume:/var/log/${APPNAME}-nginx/
         - /home/${VM_USER}/${APPNAME}/docker/nginx.${TARGETENV}.conf:/etc/nginx/templates/default.conf.template
  
  
    express-gateway-service-1:
      image: ${DOCKERHUB_USER}/${APPNAME}-express:${TAG}
      env_file: environments/common.env
      environment:
         - stdoutPath=/var/log/${APPNAME}-express/combined.log
         - stderrPath=/var/log/${APPNAME}-express/error.log
      restart: always
      volumes:
         - express-logs-volume:/var/log/${APPNAME}-express/

    express-gateway-service-2:
        extends:
          service: express-gateway-service-1
        env_file: environments/common.env

    
    express-gateway-service-3:
        extends:
          service: express-gateway-service-1
        env_file: environments/common.env

    # filebeat:
    #   restart: always
    #   image: ${DOCKERHUB_USER}/${APPNAME}-filebeat:${TAG}
    #   environment:
    #      - strict.perms=false
    #      - APPNAME=${APPNAME}  # any env variables used in the filebeat.yml must be declared here
    #   volumes:
    #      - nginx-logs-volume:/var/log/${APPNAME}-nginx/:ro
    #      - express-logs-volume:/var/log/${APPNAME}-express/:ro
    #   networks:
    #      - elk-network

volumes:
  mongo-data:
  nginx-logs-volume:
  express-logs-volume:

networks:
   mynetwork-dev:
     name: gateway-dev-network
     driver: bridge
   mynetwork-prod:
     name: gateway-prod-network
     driver: bridge
   product-svcs-dev:
     name: product-node-express-dev-network
     external: true
   product-svcs-prod:
     name: product-node-express-prod-network
     external: true
   cart-svcs-dev:
     name: cart-node-express-dev-network
     external: true
   cart-svcs-prod:
     name: cart-node-express-prod-network
     external: true
  #  elk-network:
  #     name: elk-network
  #     external: true

  # In this example, mongo-data is a named volume that ensures all data written 
  # by the MongoDB container to /data/db (MongoDB's default data directory) is saved persistently 
  # on the host system, even if the mongodb container is removed or recreated.