services:
   nginx:
     ports: 
         - 8400:8400
     env_file: environments/${TARGETENV}.env
     networks:
         - mynetwork-dev
         - product-svcs-dev
         - cart-svcs-dev
   
   express-gateway-service:
      env_file: environments/${TARGETENV}.env
      expose: 
         - 8300
      networks:
         - mynetwork-dev
         - product-svcs-dev
         - cart-svcs-dev