services:
  nginx:
    env_file: environments/${TARGETENV}.env
    ports: 
         - 8500:8500
         - 80:80
    volumes:
    - /etc/letsencrypt/live/${AZURE_VM_DOMAIN}:/etc/nginx/ssl/live/${AZURE_VM_DOMAIN}:ro 
    - /etc/letsencrypt/archive/${AZURE_VM_DOMAIN}:/etc/nginx/ssl/archive/${AZURE_VM_DOMAIN}:ro    
    - /etc/letsencrypt/options-ssl-nginx.conf:/etc/nginx/options-ssl-nginx.conf:ro 
    - /etc/letsencrypt/ssl-dhparams.pem:/etc/nginx/ssl-dhparams.pem:ro
    networks:
         - mynetwork-prod
         - product-svcs-prod
         - cart-svcs-prod

  express-gateway-service:
      env_file: environments/${TARGETENV}.env
      expose: 
         - 8305
      networks:
         - mynetwork-prod
         - product-svcs-prod
         - cart-svcs-prod