services:
   nginx:
     ports: 
         - 80:80
     env_file: environments/${TARGETENV}.env
     networks:
         - mynetwork-dev
         - product-svcs-dev
         - cart-svcs-dev
   
   express-gateway-service-1:
      env_file: environments/${TARGETENV}.env
      expose: 
         - 8300
      networks:
         - mynetwork-dev
         - product-svcs-dev
         - cart-svcs-dev

   express-gateway-service-2:
       extends:
          service: express-gateway-service-1
       env_file: environments/${TARGETENV}.env
     
   express-gateway-service-3:
       extends:
          service: express-gateway-service-1
       env_file: environments/${TARGETENV}.env

